input[type="text"] {
    width: 30%;
    min-width: 50px;
    border: 1px solid lightgray;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#comment-body {
    width: 100%;
    border: 1px solid lightgray;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.button {
    padding: 3px 10px;
    border: 1px solid black;
    background: lightgray;
    border-radius: 4px;
}

.comments .display {
    margin: 10px;
}

.single-comment {
    margin: 10px 0px;
}

.single-comment .nickname,
.single-comment .timestamp {
    font-style: italic;
    font-size:  85%;
}

.single-comment .comment-body {
    margin-top: 4px;
}

.loader {
    display: none;
}